﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Testing Zeebe";
}

<div class="text-center">
    <h1 class="display-4">Demo</h1>
</div>
<div class="container">

    <div class="row">
        <div class="col  col-md-5">
            
        </div>
        <div class="col  col-md-3">
            Registreringsnummer
        </div>
        <div class="col col-md-4">
            <input type="text" id="regnummer" placeholder="Registreringsnummer" />
        </div>
    </div>
    <div class="row">
        <div class="col col-md-5">
            <button id="create-flow" class="btn btn-primary w100" onclick="zeebe.createFlow()"><i class="far fa-paper-plane"></i>Opprett workflow</button>

        </div>
    </div>
    <div class="row">
        <div class="col col-md-5">
            <button id="enter-price" class="btn btn-primary w100" onclick="zeebe.enterPrice()"><i class="far fa-envelope"></i>Registrer pris</button>
        </div>
        <div class="col col-md-3">
            Pris:
        </div>
        <div class="col col-md-4">
            <input type="text" id="pris" placeholder="Pris" />
        </div>
    </div>
    <div class="row">
        <div class="col col-md-5">
            <button id="run-approve-price" class="btn btn-primary w100" onclick="zeebe.runAction('action-approve-price')"><i class="fas fa-cogs"></i>Start worker "Godkjenn pris"</button>
        </div>
        <div class="col col-md-7">
            <i>Starter prosessen godkjenn pris.<br />Kjører for alle prosesser som venter på godkjenning av pris</i>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-5">
            <button id="enter-price" class="btn btn-primary w100" onclick="zeebe.approvedPrice()"><i class="far fa-envelope"></i>Godkjenn pris</button>
        </div>
        <div class="col col-md-7">
            <i>Godkjenner pris</i>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-5">
            <button id="run-pruch-controact" class="btn btn-primary w100" onclick="zeebe.runAction('action-sign-purchase-contract')"><i class="fas fa-cogs"></i>Start worker "Signer innkjøpskontrakt"</button>
        </div>
        <div class="col col-md-7">
            <i>Kjører for alle prosesser som venter på godkjenning av pris</i>
        </div>
    </div>

</div>
<div id="messages">
    <p id="no-messages">Currently no log</p>

</div>
<script src="https://kit.fontawesome.com/1a89aca886.js" crossorigin="anonymous"></script>
<environment include="Development">
    <script src="~/lib/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/messages.js" asp-append-version="true"></script>
    <script src="~/js/zeebeActions.js" asp-append-version="true"></script>


</environment>
<environment include="Production">
    <script src="~/lib/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/messages.js" asp-append-version="true"></script>
    <script src="~/js/zeebeActions.js" asp-append-version="true"></script>

</environment>
